@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./reset.css";
@import "./fonts/fonts.css";


/* Переменные */
:root {
    /* Light mode */
    --page-bg: #f6f7f8;
    --text-color: #222;
    --card-bg: #fff;
    --input-bg: #ecf1f7;
    --yellow: #ffdd2d;
    /* Light mode */
}

.dark {
    /* Dark mode */
    --page-bg: #212121;
    --text-color: #fff;
    /* Dark mode */
}
/* Переменные */

/* Общие стили */
#root {
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 140px;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

::selection {
    background: rgba(255,221,45,.32)!important;
    color: rgba(0,0,0,.8)!important;
    text-shadow: none;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Play', sans-serif!important;
    background-color: var(--page-bg);
    color: var(--text-color);
    height: 100vh;
}

h2 {
    font-size: 30px;
    font-weight: 900;
}

h3 {
    font-size: 26px;
    font-weight: 900;
}

h4 {
    font-size: 22px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

h6 {
    font-size: 14px;
    font-weight: 700;
}

.form-block {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 1140px;
    border-top: 5px solid #333;
    border-radius: 25px;
    -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 20px;
}

/* Общие стили */

.btn-warning {
    background: #ffdd2d;
    height: 56px;
    border-radius: 15px;
    border: none;
}

/* Кастомные инпуты */
.custom-input-main {
    background: #ecf1f7;
    box-shadow: none!important;
    border: none;
    border-radius: 10px;
}

label.form-label::after, select.custom-input-main:focus + label.form-label::after {
    background: #ecf1f7!important;
}

.custom-input-main:focus + label.form-label::after {
    background: #fff!important;
}

.custom-input-main:focus {
    border: 1px solid grey;
    border-radius: 10px;
}

.form-control.is-invalid {
    border: 1px solid red;
    border-radius: 10px;
}

.form-control.is-valid {
    border: 1px solid green;
    border-radius: 10px;
}

/* Кастомные инпуты */
/* Прогрессбар */
.progress {
    height: 8px;
}

div.progress-bar {
    background: rgb(0, 185, 45)!important;
}

.percent-complete {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.complete {
    font-size: 14px;
    color: #a2a3a3;
}

.percent {
    font-weight: 900;
    font-size: 24px;
}
/* Прогрессбар */


/* Кастомные радиокнопки */
span.main-radio-span {
    display: flex;
    flex-direction: column;
    
  }
  
label {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border: 1px solid #d9d9da;
  padding: 10px 20px;
}

.main-radio-span-one {
    border-radius: 10px 10px 0 0;
    border-bottom: none!important;
}

.main-radio-span-two {
    border-radius: 0 0 10px 10px;
}
  
  /* Стили для неотмеченных радиокнопок */
input[type="radio"] {
  /* Убираем стандартные бордеры */
  border: none;
  /* Задаем серый цвет фона */
  background-color: #ecf1f7;
  /* Задаем размеры и форму кнопки (можно настраивать по желанию) */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* Убираем стандартный внутренний отступ */
  padding: 0;
  /* Скрываем оригинальную радиокнопку */
  appearance: none;
  -webkit-appearance: none;
  transition: all .6s ease;
}

/* Стили для отмеченных радиокнопок */
input[type="radio"]:checked {
  /* Добавляем желтый бордер */
  background: #333;
  border: 4px solid #ffdd2d;
  
  transition: background .6s ease;
}

/* Скрытие стандартной внутренней точки в радиокнопке */
input[type="radio"]::before {
  content: "";
  display: block;
  /* Задаем черный цвет точки */
  background-color: #333;
}

/* Скрытие стандартного внешнего кружка радиокнопки */
input[type="radio"]::after {
  content: none;
}
/* Кастомные радиокнопки */

ul.nav.nav-tabs {
    border: none;
}

ul.nav.nav-tabs li.nav-item button{
    border: 1px solid #DADCDC;
    border-radius: 5px;
    color: #333;
}

ul.nav.nav-tabs li.nav-item button:hover {
    background: #f0f0f0;
}

ul.nav.nav-tabs li.nav-item button.active{
    border: 1px solid #ffdd2d;
    background: #f6f7f8;
    border-radius: 5px;
}
/* Скрываем стандартную кнопку */

ul.order-list {
    padding-left: 0;
}

ul.order-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    transition: all .3s;
}

ul.order-list li:hover {
    background: #f0f0f0;
    border-radius: 10px;
    transition: all ease .3s;
}

ul.order-list li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.order-list li div svg {
    color: #1771e6;
    background-color: #ecf1f7;
    border-radius: 50%;
    min-height: 32px;
    min-width: 32px;
    padding: 5px;
    margin-right: 5px;
}

ul.order-list li div p {
    font-weight: 900;
}

ul.order-list li p {
    margin-bottom: 0;
}

ul.order-list li a {
    color: #0d6efd!important;
    cursor: pointer!important;
}

.sale-block {
    border: 1px solid #dadcdc;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.sale-block-one {
    display: flex;
    align-items: flex-start;
}

.sale-block-one div {
    padding-right: 15px;
}

.sale-block-one div h5 {
    color: #444;
}

sale-block-one div p {
    color: #777;
}

.sale-block-one svg {
    color: #1771e6;
    border: 2px dashed #1771e6;
    border-radius: 50%;
    background: #ecf1f7;
    width: 70px;
    padding: 5px;
}

.sale-block-two a {
    color: #1771e6!important;
    cursor: pointer;
    background: #ecf1f7;
    border-radius: 5px;
    padding: 10px 15px;
}

.sale-block-two {
    padding-top: 10px;
    height: 50px;
}

/* Переключатель на тудушке */






























/* Адаптация */
/* Для устройств с шириной 576px и менее (мобильные устройства портретной ориентации) */
@media (max-width: 576px) {
    .form-block {
        border-radius: 0;
    }

    ul.order-list {
        padding-left: 0;
    }
    
    ul.order-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 15px;
        transition: all .3s;
    }
    
    ul.order-list li:hover {
        background: #f0f0f0;
        border-radius: 10px;
        transition: all ease .3s;
    }
    
    ul.order-list li div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    ul.order-list li div svg {
        color: #1771e6;
        background-color: #ecf1f7;
        border-radius: 50%;
        min-height: 32px;
        min-width: 32px;
        padding: 5px;
    }

    ul.order-list li div p {
        width: 100%;
    }
    
    ul.order-list li p {
        margin-bottom: 0;
    }
    
    ul.order-list li a {
        color: #0d6efd!important;
        cursor: pointer!important;
        border: 1px solid #1771e6;
        border-radius: 5px;
        padding: 5px;
    }

    .sale-block {
        width: 100%;
    }
    
  }
  
  /* Для устройств с шириной от 577px до 768px (планшеты в портретной ориентации) */
  @media (min-width: 577px) and (max-width: 768px) {
    
  }
  
  /* Для устройств с шириной от 769px до 992px (планшеты в альбомной ориентации и небольшие ноутбуки) */
  @media (min-width: 769px) and (max-width: 992px) {
    
  }
  
  /* Для устройств с шириной от 993px до 1200px (стандартные ноутбуки и настольные мониторы) */
  @media (min-width: 993px) and (max-width: 1200px) {
    
  }
  
  /* Для устройств с шириной 1201px и более (большие настольные мониторы и широкоэкранные устройства) */
  @media (min-width: 1201px) {
    
  }
/* Адаптация */

