.chat-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-header {

    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-header h2 {
    margin: 0;
}

.chat-messages {
    margin-top: 57px;
    padding: 10px;
    height: calc(100vh - 127px); /* Высота контейнера сообщений */
    overflow-y: scroll; /* Включение вертикальной прокрутки при необходимости */
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message.user1 {
    background-color: #007bff;
    color: #fff;
    text-align: right;
}

.message.user2 {
    background-color: #f4f4f4;
    color: #000;
    text-align: left;
}

.time {
    font-size: 0.8em;
    color: #999;
}

.chat-input {
    position: fixed;
    bottom: 0;
}

.chat-input form {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.send-input {
    background: rgb(246, 247, 249)!important;
}